html {
	
}

body {
	background-color: black;
	background-image: url('../images/forams.jpg');
}

body, .form-control {
	font-size: 12px !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.thinPagePanel {
	margin-top: 100px;
	width: 80%;
	left: 10%;
	position: absolute;
}

.pagePanel {
	margin-top: 100px;
	width: 90%;
	left: 5%;
	position: absolute;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

@media screen and (min-width: 768px) {
	.thinPagePanel {
		width: 40%;
		left: 30%;
	}
	.pagePanel {
		width: 60%;
		left: 20%;
	}
}

/* Causes problems on screens with really small width */
@media screen and (min-width: 350px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.pagePanelContent {
	padding: 5%;
}

.input-group {
	width: 100%;
}

.input-group-addon {
	width: 60px !important;
}

.input-group-element {
	padding: 5px 10px;
}

.input-group-alert {
	margin: 5px 10px !important;
}

textarea.config-editor {
	resize: none;
	height: 250px;
}

#mainWrapper {
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#authHeaderWrapper {
	clear: both;
	width: 100%;
	height: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mainPage-container, .login-container, .outputPage-container {
	margin-top: 100px;
	background-color: #9d9d9d;
	border-radius: 25px;
	width: 60%;
	left: 20%;
	position: absolute;
}

.mainPage-form>* {
	margin-bottom: 10px;
}

.overflowableContent {
	overflow: hidden;
	text-overflow: ellipsis;
}

.configsButtonCell {
	padding: 0% 2px;
}

.configsButtonCell>* {
	width: 100%;
	border-radius: 0px;
}

.noResize {
	resize: none;
}

.restrictedWidth200 {
	max-width: 200px;
}

.outputPanel {
	white-space: pre-wrap;
	padding: 10px;
	font-family: monospace;
}

.label-xs {
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
}

.commentPanel {
	padding: 0px;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

.commentPanel>* {
	padding: 10px;
}

.usernameCommentPanel {
	font-size: 14px;
	font-weight: bold;
	background-color: #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.contentCommentPanel, .contentDataPanel {
	background-color: white;
}

.contentDataPanel {
	padding-top: 0px;
	font-weight: light;
}

.commentFillerPanel {
	text-align: center;
	padding: 10px;
	color: #c0c0c0;
}

@media only screen and (max-width: 768px) {
	.mainPage-container, .login-container, .outputPage-container {
		width: 90%;
		left: 5%
	}
}

.mainPage-card {
	width: 80%;
	margin: auto;
}

.mainPage-form {
	padding: 10%;
	font-size: 12px;
	text-align: center;
}

.login-card {
	width: 80%;
	margin: auto;
}

.login-form {
	padding: 10%;
}

.account-container {
	margin-top: 10px;
	border-radius: 5px;
	font-weight: bold;
	background-color: #9d9d9d;
	width: 6%;
	left: 94%;
	position: absolute;
}

.account-card {
	width: 90%;
	text-align: center;
	margin: auto;
}

.account-form {
	padding: 3%;
}

.outputPage-card {
	width: 95%;
	margin: auto;
	text-align: center;
}

.outputPage-form {
	padding: 5%;
	font-size: 14px;
	text-align: left;
}

.results tr[visible='false'], .no-result {
	display: none;
}

.results tr[visible='true'] {
	display: table-row;
}

.counter {
	padding: 8px;
	color: #ccc;
}

.modal {
	text-align: center;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

/* File inputs styling */
.inputfile {
	top: 100%;
	left: 50%;
	width: 1px;
	height: 1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
	cursor: pointer;
}